<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all parentings
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new parenting
    </h2>

    <form action="/insert_parenting" method="post">
      <div class="form-group">
        <label for="kid_id_box">
          Kid
        </label>

        <input type="text" id="kid_id_box" name="query_kid_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="parent_id_box">
          Parent
        </label>

        <input type="text" id="parent_id_box" name="query_parent_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create parenting
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Kid
        </th>

        <th>
          Parent
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @parentings.each do |parenting| %>
      <tr>
        <td>
          <%= parenting.id %>
        </td>

        <td>
          <%= parenting.kid_id %>
        </td>

        <td>
          <%= parenting.parent_id %>
        </td>

        <td>
          <%= time_ago_in_words(parenting.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(parenting.updated_at) %> ago
        </td>

        <td>
          <a href="/parentings/<%= parenting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
