<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all studies
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new study
    </h2>

    <form action="/insert_study" method="post">
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="day_box">
          Day
        </label>

        <input type="date" id="day_box" name="query_day" class="form-control">
      </div>

      <div class="form-group">
        <label for="english_box">
          English
        </label>

        <input type="text" id="english_box" name="query_english" class="form-control">
      </div>

      <div class="form-group">
        <label for="japanese_box">
          Japanese
        </label>

        <input type="text" id="japanese_box" name="query_japanese" class="form-control">
      </div>

      <div class="form-group">
        <label for="math_box">
          Math
        </label>

        <input type="text" id="math_box" name="query_math" class="form-control">
      </div>

      <div class="form-group">
        <label for="science_box">
          Science
        </label>

        <input type="text" id="science_box" name="query_science" class="form-control">
      </div>

      <div class="form-group">
        <label for="social_study_box">
          Social study
        </label>

        <input type="text" id="social_study_box" name="query_social_study" class="form-control">
      </div>

      <div class="form-group">
        <label for="other_study_box">
          Other study
        </label>

        <input type="text" id="other_study_box" name="query_other_study" class="form-control">
      </div>

      <div class="form-group">
        <label for="game_box">
          Game
        </label>

        <input type="text" id="game_box" name="query_game" class="form-control">
      </div>

      <div class="form-group">
        <label for="diary_box">
          Diary
        </label>

        <textarea id="diary_box" name="query_diary" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="point_box">
          Point
        </label>

        <input type="text" id="point_box" name="query_point" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create study
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Day
        </th>

        <th>
          English
        </th>

        <th>
          Japanese
        </th>

        <th>
          Math
        </th>

        <th>
          Science
        </th>

        <th>
          Social study
        </th>

        <th>
          Other study
        </th>

        <th>
          Game
        </th>

        <th>
          Diary
        </th>

        <th>
          Point
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @studies.each do |study| %>
      <tr>
        <td>
          <%= study.id %>
        </td>

        <td>
          <%= study.user_id %>
        </td>

        <td>
          <%= study.day %>
        </td>

        <td>
          <%= study.english %>
        </td>

        <td>
          <%= study.japanese %>
        </td>

        <td>
          <%= study.math %>
        </td>

        <td>
          <%= study.science %>
        </td>

        <td>
          <%= study.social_study %>
        </td>

        <td>
          <%= study.other_study %>
        </td>

        <td>
          <%= study.game %>
        </td>

        <td>
          <%= study.diary %>
        </td>

        <td>
          <%= study.point %>
        </td>

        <td>
          <%= time_ago_in_words(study.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(study.updated_at) %> ago
        </td>

        <td>
          <a href="/studies/<%= study.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
