<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all studies
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Day
        </th>

        <th>
          English
        </th>

        <th>
          Japanese
        </th>

        <th>
          Math
        </th>

        <th>
          Science
        </th>

        <th>
          Social study
        </th>

        <th>
          Other study
        </th>

        <th>
          Game
        </th>

        <th>
          Diary
        </th>

      </tr>

      <% @studies.each do |study| %>
      <tr>
        <td>
          <%= study.id %>
        </td>

        <td>
          <%= study.learner.user_name %>
        </td>

        <td>
          <%= study.day %>
        </td>

        <td>
          <%= study.english %>
        </td>

        <td>
          <%= study.japanese %>
        </td>

        <td>
          <%= study.math %>
        </td>

        <td>
          <%= study.science %>
        </td>

        <td>
          <%= study.social_study %>
        </td>

        <td>
          <%= study.other_study %>
        </td>

        <td>
          <%= study.game %>
        </td>

        <td>
          <%= study.diary %>
        </td>

        <td>
          <a href="/studies/<%= study.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
