<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if @current_user%>
    <h1>Hi! <%= @current_user.user_name %></h1>
    <% end %>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/studies">Studies</a>
        </li>
        <% if @current_user%>
          <% if @current_user.is_parent != true %>   
            <li>
              <a href="/report_study">Report Today's Study</a>
            </li>
          <% end %>
        <% end %>
        <% if @current_user %>
          <li>
            <a href="/user_sign_out">Sign Out</a>
          </li>
        <% end %>
       </ul>
    </nav>

    <%= yield %>
  </body>
</html>
