<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Connect Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if @current_user%>
    <h1>Hi! <%= @current_user.user_name %></h1>
    <% end %>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/studies">Studies</a>
        </li>
        <% if @current_user %>
          <li>
            <a href="/users/<%= @current_user.user_name %>">My Page</a>
          </li>
        <% end %>
        <% if @current_user %>
          <% if @current_user.is_parent != true %>   
            <li>
              <a href="/report_study">Report Today's Study</a>
            </li>
          <% end %>
        <% end %>
        <% if @current_user %>
          <li>
            <a href="/user_sign_out">Sign Out</a>
          </li>
        <% end %>
       </ul>
    </nav>

    <%= yield %>
  </body>
</html>
